<p>
  Edit Paper!
</p>
<div *ngIf="!this.hidden" class="updateForm" >
  <form #updateForm="ngForm">
    <div>
      <label>Item Name</label><br/>
      <input [(ngModel)]="info" name="info"
             placeholder="Enter a name" type="text">
    </div>
    <br/>
    <div>
      <label>Item Description</label><br/>
      <input [(ngModel)]="subject" name="subject"
             placeholder="Enter a description" type="text">
    </div>
  </form>
  <br/>
  <button (click)="submit()">Submit</button>
  <button (click)="cancel()">cancel</button>
</div>
