<div class="row">
  <div  *ngFor="let trains of trainDisplays" class="col-xs12 col-sm-6 col-lg-4 displayHeight">
      <h4>{{trains.trainType}}{{trains.trainNumber+ ' '}}<span *ngIf="trains.beginTableRow">{{trains.beginTableRow+'-'}}{{trains.endTimeTableRow}} </span></h4>
      <h6 *ngIf="trains.locomotiveType">{{"Locomotive:"+ trains.locomotiveType}}</h6>
      <h6 *ngIf="trains">{{"Wagons:"+ trains.totalLength}}</h6>
      <h6 *ngIf="trains">{{"Max Speed:"+ trains.maximumSpeed+"KM/h"}}</h6>
  </div>
</div>


