<h2>Dashboard component</h2>

<h3>Feeds</h3>


<br/>

<form class="form" [formGroup]="form">
  <app-ui-input label="Title of Book" placeholder="Enter name...." [control]="form.get('title')"></app-ui-input>
  <app-ui-input label="Author" placeholder="Enter text...." [control]="form.get('author')"></app-ui-input>
  <app-ui-input label="Genre" placeholder="Enter text...." [control]="form.get('genre')"></app-ui-input>

  <app-ui-button [disabled]="!form.valid"  text="Add Books" (click)="submitBook()"></app-ui-button>
</form>
