<div class="container-fluid">
  <div *ngIf="internalFeed.feeds">
    <div class="row feedHead">
      <div class="col-xs-12">
        <h4 *ngIf="internalFeed">{{'Live Feed on :'}} {{internalFeed.date}}</h4>
      </div>
    </div>

    <div class="row">
      <div *ngFor="let feeds of internalFeed.feeds">
        <div class="col-xs-12 col-sm-6">
          <div class="feed">
            <p>{{'Index : '+feeds.index}}</p>
            <p>{{'Value : '+feeds.data}}</p>
            <p> Variable Name:
              <span *ngIf="feeds.variableName">{{feeds.variableName}}</span>
              <span *ngIf="!feeds.variableName">{{'unknown'}}</span>
            </p>
            <p> Unit:
              <span *ngIf="feeds.dataUnit">{{feeds.dataUnit}}</span>
              <span *ngIf="!feeds.dataUnit">{{'unknown'}}</span>
            </p>
           <div>
             <br/><br/>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!internalFeed.feeds"><span>No feeds today! sorry :(</span></div>
</div>
<!--

<div class="displayTabPlus">
<h3 *ngIf="internalFeed">{{'Live Feed on :'}} {{internalFeed.date}}</h3>
<div *ngIf="internalFeed.feeds">
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th >Index</th>
        <th >Data</th>
        <th >Variable Name</th>
        <th >Format</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let feeds of internalFeed.feeds">
        <td>
          {{feeds.index}}
        </td>

        <td>
          {{feeds.data}}
        </td>

        <td>
          <span *ngIf="feeds.variableName">{{feeds.data}}</span>
          <span *ngIf="!feeds.variableName">{{''}}</span>
        </td>

        <td>
          <span *ngIf="feeds.variableName">{{feeds.data}}</span>
          <span *ngIf="!feeds.variableName">{{''}}</span>
        </td>
      </tbody>
    </table>
  </div>
  <ul *ngFor=" let feeds of internalFeed.feeds">
    <li>{{feeds.index}}{{feeds.data}}</li>
  </ul>
</div>
</div>
-->
