@import "./../../media_mixins";

$fHeadFontSize:16px;
$fHeadFontcolor:black;

@mixin feedHeadMixin($fontSize, $fontColor){
  h4{
    font-size: $fontSize;
    color:$fontColor;
    margin-left: -10px;
    border-bottom: thick solid orangered;
  }

}

@mixin feedHead($fontSize, $fontColor){
  @include feedHeadMixin($fontSize, $fontColor)
}

@mixin feeds(){
  .feed{
    border-bottom: thick solid green;
  }
}



@include media-mixins-mobile{
  @include feedHead($fHeadFontSize,$fHeadFontcolor);
  @include feeds();
}@include media-mixins-tablet{
   @include feedHead($fHeadFontSize,$fHeadFontcolor);
   @include feeds();
 }@include media-mixins-laptop{
  }@include media-mixins-desktop-and-bigger{
   }



